body
{
  margin: 0;
  width: 640px;
  height: 700px;
}

ul 
{
  list-style: none;
}

@font-face {
    font-family: 'Asiyah_Script';
    src: url('font/Asiyah_Script.eot');
    src: url('font/Asiyah_Script.ttf');
}
@font-face {
    font-family: 'Doodle_Gum';
    src: url('font/Doodle_Gum.ttf');

}

@font-face {
    font-family: 'cubic';
    src: url('font/cubic.ttf');

}

@font-face {
    font-family: 'heydings_icons';
    src: url('font/heydings_icons.ttf');

}

@font-face {
    font-family: 'gotham_medium';
    src: url('font/gotham-medium.eot');
    src: url('font/gotham-medium.ttf');
    src: url('font/gotham-medium.woff');
}

#back-picture
{
  position:absolute;
   top:25%;
   left:50%;
   width:640px; 
   height:700px; 
   margin-left:-320px;
   margin-top:-350px; 
}


#back-picture img
{
  max-width: 100%;
  height: auto;
}





#header-input
{

  border-radius:8px 8px 0px 0px;
  width: 200px;
  margin-bottom :0;
  padding-bottom: 0;
  height:50px;
  text-align: center;
  background: rgba(60,60,60,0.71);

}
#header-input h1
{

  font-size: 25px;
  line-height: 50px;
  margin: 0;
  font-family: gotham_mefium,Arial;
  color: white;
 

}

fieldset
{
	width: 200px;
	height: 200px;
	padding: 0px;
	margin: 0;
	border-radius: 0px 0px 8px 8px;
  border: none; 
  border-top: 2px ridge rgba(124, 124, 124, 0.41);
  background: rgba(60,60,60,0.71);

	
}

fieldset input
{
  border: 0px solid black;
	margin-bottom: 15px;
  width: 100%;
  height: 25px;
  border:1px solid black;
  box-shadow: inset 0px 0px 5px #090909 ;
 background: #4F484E;

}

fieldset label
{
  position: relative;
  top: 0px;
  left: 0;
	font-family: heydings_icons,Arial;
	display: block;
	width: 100px;
	float: left;
	
}

fieldset #bloc-input
{
	position:relative;
   top:20%;
   width: 75%;
   margin: auto;
   padding: 0;
 
}





form {
   position:absolute;
   top:50%;
   left:50%;
   width:200px; 
   height:252px; 
   margin-left:-120px;
   margin-top:-75px; 
   border-radius: 8px;
   box-shadow: 2px 2px 2px rgba(0,0,0,0.81);

 
 }

 input[style="text"]
 {
  line-height:30px;
  position: absolute;
  top: 0px;
  size:15;
  color: #FFFFFF;

   
 }

input
{
 
	border-radius: 5px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	background-color: #DFDFDF;
  text-align:center;
}
fieldset li 
{
  height: 30px;
  padding-bottom: 10px;
}


fieldset li #label-login
{
  margin: 3px 0px 0px 7px;
  position:absolute;
  height: 30px;
  background: url("pictures/contact-grey.png") no-repeat;
    cursor: pointer;
}

fieldset li #label-password
{
  margin: 3px 0px 0px 7px;
  position:absolute;
  top:40px;
  height: 30px;
  background: url("pictures/lock-grey.png") no-repeat;
  width: 30px;
    cursor: pointer;
}

 input[type ="password"]
 {
  line-height:30px;
  position: absolute;
  top: 0px;
  padding-left: 21px;
  text-indent: 50px;
  -webkit-text-security: disc;
  color:#FFF;
 }

 input[type="submit"]
 {
  color : #FFFFFF;
  font-weight: bold;
  width: 100%;
  margin-top: 30px;
  height: 40px;
  text-align:center;
  box-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.81);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77a033), color-stop(33%,#668f24), color-stop(72%,#5b8220), color-stop(100%,#52761c));
   cursor: pointer;
 }

 input[type="password"]:focus, input[type="text"]:focus
 {
  color: #FFF;
 }