

body
{
	margin: 0;
	background: url("images/fond_jaune.png") repeat bottom;

}

.bloc-page
{
	width: 900px;
    margin: auto;
}

/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

header
{
	display: flex;
	justify-content: space-between;
    height: 120px;
    align-items: flex-end;
    background: url("images/separateur.png") repeat-x bottom;
    

}

header h1
{
	font-family: BallparkWeiner, serif;
	font-weight: normal;
	margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0;
 
}

header ul
{
	list-style: none;
	text-transform: uppercase;
	margin-right: 15px;

}

header ul li
{
	list-style: none;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 5px;
}


header ul a
{
	text-decoration: none;
	color: black;
	font-size: 21px;
}

header ul li a:hover
{
	text-decoration: none;
	color: #CC0033;
	font-size: 21px;
	text-decoration: underline;
	
}

#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;

}
#logo img
{
    width: 59px;
    height: 60px;
}


.container
{
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}

.bordure
{
	background: url("images/separateur.png") ;
}

#banniere
{

	background: url("images/sanfrancisco.jpg") no-repeat;
	margin-top: 10px;
	height: 219px;
	border-radius: 4px;
	width: 99%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 2px 3px #1c1a19;
	margin-bottom: 30px;

}

#description-banniere
{
	
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(24,24,24,0.8);
	height:40px;
	width: 100%;
	border-radius: 0 0 4px 4px;
	display: flex;
	justify-content: space-between;

}

#description-banniere h1
{	
	color:rgb(167,167,167);
	padding: 0;
	margin:0;
	text-decoration: none;
	font-size: 15px;
	text-align:left;
	padding-left: 5px;
	line-height: 40px;
	font-weight: normal;
}

#description-banniere a
{
	display: inline-block;
	background: url("images/fond_degraderouge.png") repeat;
	border-radius: 5px;
	height: 29px;
	width: 120px;
	line-height: 29px;
	text-decoration: none;
	color:white; 
	margin-bottom: auto;
	margin-top: auto;
	margin-right: 10px;
	text-align: center;

}

#description-banniere img
{
	position: relative;
	margin-left: 5px;
	line-height: 29px;
}

section
{
	display: flex;
	justify-content: space-between;
	



}
#color-section
{
	background:inherit;
	background-color: rgb(248,234,204);
	margin: 0;
	padding: 0;
	overflow: visible;
	position: relative;
	width: 120%;
	left:-10%;
	padding-top:10px;
}


.elargissement
{
	margin: 0;
	padding: 0;
	overflow: visible;
	position: relative;
	width: 120%;
	left:-10%;
	padding-top:10px;
}
.bordure-bas
{
	background: url("images/separateur.png") repeat-x bottom;
	margin: 0;
	padding: 0;
	overflow: visible;
	position: relative;
	width: 100%;
	
}

.conteneur-principal
{
	width: 900px;
    margin: auto;
    padding-top:10px;

}

section article
{

	flex:3;
	margin-right: 20px;
	margin-bottom: 20px;
}

section article #logo
{
	height:40px;
	
}

section article #logo img
{
	height:40px;
	width: 40px;

	

}
section article h1
{	
	position: relative;
	text-transform: uppercase;
	font-weight: normal;
	font-family: Dayrom, serif;
	margin: 0;
	transform: translateY(-50%);
	padding-left: 8px;
	
}

section article p
{
	margin-top: 10px;
	text-align: justify;
	margin-bottom: 10px

}

section aside
{
	background-color: rgb(112,107,100);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-content: center;
	flex :1.4;
	color: rgb(200,200,200);
	box-shadow: 0px 1px 2px #1c1a19;
	text-shadow: 0px 1px 0.5px #1c1a19;
	margin-bottom: 10px;
	padding-bottom: 20px;
	max-height: 430px;

}

section aside h1
{
	font-family: Dayrom, serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	}

section aside img
{
	width :150px;
	margin-left: auto;
	margin-right:auto;
	border:1px solid black;
}

section aside p
{
	text-align: justify;
	margin: 25px 10px 0 10px;
}

section aside #conteneur-rs
{
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 10px;

}

section aside #conteneur-rs img
{
	border:inherit;
	width :40px;
	height: 40px;
	margin:5px;
}

section aside #fleche
{	
	align-content: inherit;
	border:inherit;
	width: 10px;
	height: 20px;
	position: relative;
	top: -70%;
	left: -51.5%;
}


#color-ombre
{
	background:inherit;
	background: url('images/ombre.png') repeat-x top;
	margin: 0;
	padding: 0;
	overflow: visible;
	position: relative;
	width: 120%;
	left:-10%;
	padding-top:10px;
}

#fleche-bulle
{
	background:inherit;
	background:url('images/ico_top.png') no-repeat top center;
	margin: 0;
	padding: 0;
	overflow: visible;
	position: relative;
	width: 120%;
	top: -15px;
	left:-10%;
	padding-top:0;
}



footer section
{
	display: flex;
	padding-top: 50px;
	justify-content: space-around;
}

footer section article
{
	flex:1.2;
	padding-right: 20px;
	margin: 0;
}

footer section article p
{
	margin-top: 23px;
}

footer section article #bloc-photo
{
	margin-top: 23px;
}


footer section article img
{
	border : 1px solid black;
	width: 60px;
	height: 60px
	margin-top:10px;
}

footer section #liste-amis
{
	display: flex;
	justify-content: space-between;


}

footer section #liste-amis ul
{
	list-style-image: url('images/ico_liensexterne.png');
	padding: 0;


}

footer section #liste-amis li a
{
	text-decoration: none;
	color: red;
}
